* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #3399CC;
    border: 25px solid #2B81AC;
    font-size: 22px;
    color: #fff;
    min-height: 100vh;
    font-family: 'Lucida Sans Unicode';
}

.section {
    padding-top: 35px;
    padding-bottom: 94px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container .title {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 35px;
    display: block;
}

.container .title .wi {
    margin-left: 10px;
    font-size: 27px;
}

.container ul {
    display: block;
    border: 2px solid #fff;
    margin-bottom: 35px;
    font-size: 0;
}

.container ul li {
    display: inline-block;
    border: 2px solid #fff;
    font-size: 22px;
    padding: 25px 10px;
}

.container ul:hover li {
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

.container ul li:hover {
    opacity: 1;
}

.container ul li h3 {
    display: block;
    text-align: center;
    line-height: 26px;
    margin-bottom: 19px;
}

.container ul li .temprature {
    display: flex;
    justify-content: center;
    align-items: center;
    /* opacity: 0.7; */
}

.container ul li span {
    line-height: 26px;
}

.container ul li .wi {
    margin-left: 9px;
    font-size: 42px;
}

.blue {
    width: 50%;
    background-color: #3399CC;
}

.turquoise {
    width: 25%;
    background-color: #33CCCC;
}

.violet {
    width: 25%;
    background-color: #996699;
}

.red {
    width: 25%;
    background-color: #C24747;
}

.orange {
    width: 25%;
    background-color: #E2674A;
}

.yellow {
    width: 25%;
    background-color: #FFCC66;
}

.light-green {
    width: 25%;
    background-color: #99CC99;
}

.grey {
    width: 25%;
    background-color: #669999;
}

.pink {
    width: 50%;
    background-color: #CC6699;
}

.green {
    width: 25%;
    background-color: #339966;
}

.scampi {
    width: 100%;
    background-color: #666699;
}

.container p {
    font-size: 16px;
    line-height: 19px;
}